.main {
  margin: 5vw 10vw;
  height: 90vh;
  &__events {
    // border: 1px solid black;
    margin-top: 50px;
    &__title {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 24px;
      margin-bottom: 30px;
      background-color: #ffffff;
      border-bottom: 1px solid rgba(0,0,0,0.25);
    }
  }
}
